@import "@vm0/ui/styles/globals.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Theme-based image display */
.imgDark {
  display: block;
}

.imgLight {
  display: none;
}

[data-theme="light"] .imgLight {
  display: block;
}

[data-theme="light"] .imgDark {
  display: none;
}
