[package]
name = "sandbox"
version = "0.1.0"
edition.workspace = true

[dependencies]
async-trait.workspace = true
thiserror.workspace = true
uuid = { workspace = true, features = ["v4"] }

[lints]
workspace = true
