[workspace]
resolver = "2"
members = ["vsock-agent", "vm-init", "vm-common", "vm-download"]

[profile.release]
lto = true
strip = true
codegen-units = 1

[workspace.lints.rust]
warnings = "deny"

[workspace.lints.clippy]
all = "deny"
